* {
  margin: 0;
  padding: 0;
}

.row {
  margin-top: 30px;
}

.background-color-primary {
  background-color: #2125290a;
  margin-left: 0;
  margin-right: 0;
}

.flex-column {
  display: flex !important;
  flex-direction: column !important;
  width: fit-content !important;
}

.flex-column button {
  margin-top: 10px;
}

.modal-body-display {
  display: flex !important;
  flex-direction: row !important;
  /* flex-wrap: wrap; */
}

.modal-body input, label {
  margin-top: 6px;
}

.modal-body-display input {
  margin-right: 6px;
}

.end {
  margin-bottom: 100px;
}